.green{
    border:1em solid green;
}

.dotted{
    border: 0.2em dotted black;

}

.red{
    background-color: red;
}

.white-text--black-background{
    color: white;
    background-color: black;

}

.circle{
    border-radius: 50%;
    background-color: black;
    color: white;
    text-align: center;
}

.black-background{
    background-color: black;

}

.px50 {
    width: 100%;
    height: 100%;
    text-align: center;
}